body{
  background-color: rgb(102, 102, 251);
  margin: 0;
  padding: 0;
}
.site-title{
  text-align: center;
  background-color: blue;
  margin: 0;
  padding: 20px 0;
  border: 5px dashed black;
  margin-bottom: 30px;
}
.site-form{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.form-img{
  border-top-left-radius: 19px;
}
.form-input{
  width: 300px;
  padding: 15px;
  border: none;
  /* border-top-right-radius: 29px;   */
  border-bottom-right-radius: 29px;
}
ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  margin-left: 20px;
  gap: 25px;
}
li{
  width: 300px;
  background-color: darkblue;
  border: 3px solid black;
  margin: 0;
  padding: 0;
}
li div{
  padding: 15px;
}
li img{
  width: 100%;
  height: 450px;
}
h3{
  min-height: 54px;
  text-align: center;
  color: darkgrey;
  margin: 0;
  font-size: x-large;
  margin-bottom: 15px;
}
strong{
  color: black;
  font-size: large;
  margin-right: 50px;
}
li button {
  padding: 7px 10px;
  background-color: white; 
  color: black; 
  border-radius: 10px;
  border: 2px solid #008CBA;
}

li button:hover {
  background-color: #008CBA;
  color: white;
}
.lds-spinner {
  color: aqua;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #fff;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


.btns{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
}

.prev-btn , .next-btn{

  color: white;
  background: #dc3545;
  padding: 7px 10px;
  border-radius: 4px;  
  font-size: 19px;
  border: none;
  margin: 10px;
}
.prev-btn:disabled{
  opacity: 0.5;
}
.next-btn:disabled{
  opacity: 0.5;
}